{% extends "layout.html" %}
{% block body %}
<div class="container">
  <h1>CPU 쿨러 비교</h1>
  <p class="description">
    <a href="http://www.coolenjoy.net/cooln_db/cpucooler_charts.php?dd=2&amp;test=3">쿨엔조이</a>의
    CPU 쿨러 성능 측정 자료를 <a href="http://www.danawa.com/">다나와</a> 가격과 함께 비교해보세요.
    정보는 {{config.UPDATE_INTERVAL | duration}}에 한 번 갱신됩니다.
  </p>
  <div class="selectors clearfix">
    <div class="selector">
      <label>소음</label>
      <div class="btn-group">
        <button class="btn btn-default"
                ng-repeat="opt in noiseOptions"
                ng-click="g.noise = opt.value"
                ng-class="{
                  active: g.noise == opt.value,
                  disabled: g.power >= 200 &amp;&amp; opt.value <= 40
                }"
                bo-bind="opt.name">
        </button>
      </div>
    </div>
    <div class="selector">
      <label>CPU 소비전력</label>
      <div class="btn-group">
        <button class="btn btn-default"
                ng-repeat="opt in powerOptions"
                ng-click="g.power = opt.value"
                ng-class="{
                  active: g.power == opt.value,
                  disabled: g.noise <= 40 &amp;&amp; opt.value >= 200
                }"
                bo-bind="opt.name">
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div class="filter">
        <div class="checkbox filter-label">
          <label>
            <input type="checkbox" select-all="makers" ng-model="$parent.g.filterByMaker"> 제조사
          </label>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="firefox-padding-hack-748518">
              <div class="checkbox" ng-repeat="maker in makers">
                <label>
                  <input type="checkbox" ng-model="maker.selected">
                  <span bo-bind="maker.name"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filter">
        <label class="filter-label">쿨러 속성</label>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="width" class="col-xs-4 control-label">가로</label>
            <div class="col-xs-8">
              <div class="input-group">
                <input type="number" pattern="\d*" id="width" class="form-control">
                <span class="input-group-addon">이하</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="depth" class="col-xs-4 control-label">세로</label>
            <div class="col-xs-8">
              <div class="input-group">
                <input type="number" pattern="\d*" id="depth" class="form-control">
                <span class="input-group-addon">이하</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="height" class="col-xs-4 control-label">높이</label>
            <div class="col-xs-8">
              <div class="input-group">
                <input type="number" pattern="\d*" id="height" class="form-control">
                <span class="input-group-addon">이하</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="weight" class="col-xs-4 control-label">무게</label>
            <div class="col-xs-8">
              <div class="input-group">
                <input type="number" pattern="\d*" id="weight" class="form-control">
                <span class="input-group-addon">이하</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-4 control-label">종류</label>
            <div class="col-xs-8">
              <div class="btn-group filter-select-heatsink-type">
                <button class="btn btn-default tower-button">타워</button>
                <button class="btn btn-default flower-button">플라워</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <div class="chart">
        <div class="pull-right chart-controls">
          <label>정렬</label>
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span ng-bind="g.sortOption.name"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="opt in sortOptions">
                <a href="#" click="g.sortOption = opt" bo-bind="opt.name"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
        <table>
          <thead>
            <tr>
              <th class="chart-model">
                <div>제조사</div>
                <div>제품명</div>
              </th>
              <th class="hidden-sm hidden-xs">
                <div>가로x세로x높이</div>
                <div>종류 / 무게</div>
              </th>
              <th class="hidden-sm hidden-xs">
                <div>팬 크기x개수</div>
                <div>팬 속도</div>
              </th>
              <th ng-if="g.noise == 100">소음</th>
              <th class="chart-temp">
                <div>CPU 온도</div>
                <div>전원부 온도</div>
              </th>
              <th class="chart-price">가격</th>
            </tr>
          </thead>
          <tbody open-links-in-new-window ng-if="measurements.length > 0">
            <tr ng-repeat="m in measurements.items track by m.id"
                ng-show="!g.filterByMaker || m.maker.selected"
                ng-class="{first: g.filterByMaker &amp;&amp; m.first}">
              <td class="chart-model">
                <div bo-bind="m.maker.name"></div>
                <div bo-attr="{title: 'm.heatsink.name'}" bo-bind="m.heatsink.name"></div>
              </td>
              <td class="hidden-sm hidden-xs">
                <div bo-bind="m.heatsink_size"></div>
                <div>
                  <span bo-bind="m.heatsink.heatsink_type"></span>
                  /
                  <span bo-bind="m.heatsink_weight"></span>
                </div>
              </td>
              <td class="hidden-sm hidden-xs">
                <div bo-bind="m.fan_size"></div>
                <div bo-bind="m.rpm_avg"></div>
              </td>
              <td ng-if="g.noise == 100" bo-bind="m.noise_avg">
              </td>
              <td class="chart-temp">
                <div class="chart-temp-cpu" bar-graph="m.cpu_temp_delta"></div>
                <div class="chart-temp-power" bar-graph="m.power_temp_delta"></div>
              </td>
              <td class="chart-price">
                <span bo-if="!m.danawa_url" bo-bind="m.price"></span>
                <a bo-attr="{href: 'm.danawa_url'}" bo-if="m.danawa_url" bo-bind="m.price"></a>
              </td>
            </tr>
          </tbody>
          <tbody ng-if="!(measurements.length > 0)">
            <tr>
              <td class="empty" colspan="{@g.noise == 100 ? 6 : 5@}">
                데이터가 없습니다.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="footer">
    이메일 <a href="mailto:choongmin@me.com">choongmin@me.com</a>
    트위터 <a href="https://twitter.com/ChoongminLee">@ChoongminLee</a>
  </div>
</div>
<div class="alert alert-danger ng-hide" ng-show="error" center width="300">
  <p ng-bind="error"></p>
</div>
{% endblock %}
