<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ko"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="ko"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="ko"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ko"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>CPU 쿨러 비교</title>
    {% assets "css_all" %}<link rel="stylesheet" href="{{ASSET_URL}}" />{% endassets %}
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
    <![endif]-->
  </head>
  <body ng-app="cpucoolerchart">
    <div ng-controller="DataCtrl">
      {% block body %}{% endblock %}
    </div>

    {% if config.ASSETS_DEBUG %}
      {% assets "js_vendor" %}<script src="{{ASSET_URL}}"></script>{% endassets %}
    {% else %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.7/fastclick.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% endif %}
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.1.0/es5-shim.min.js"></script>
    <![endif]-->

    <script>
      // Check browser capabilities
      $('html').removeClass('no-js');
      if ('ontouchstart' in document) $('html').addClass('touch');
    </script>
    {% assets "js_all" %}<script src="{{ASSET_URL}}"></script>{% endassets %}

    <script>
      // Use FastClick for better mobile experience
      $(function () { FastClick.attach(document.body); });

      // Load Google Analytics if configured
      {% if config.GA_TRACKING_ID and config.GA_DOMAIN %}
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{config.GA_TRACKING_ID}}', '{{config.GA_DOMAIN}}');
        ga('send', 'pageview');
      {% endif %}

      // Setup LiveReload if configured
      {% if config.LIVE_RELOAD %}
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
      {% endif %}
    </script>
  </body>
</html>
