@import "bower_components/bootstrap/less/bootstrap.less";

@font-size-base: 13px;
@font-family-sans-serif: "Nanum Gothic", NanumGothic, "나눔고딕", "서울남산체", "Malgun Gothic", "맑은 고딕", "맑은고딕", "Apple SD Gothic Neo", "Helvetica Neue", Helvetica, Arial, sans-serif;
@icon-font-path: "/static/bower_components/bootstrap/fonts/";

body {
  margin-bottom: 20px;
}

h1, .h1 { font-size: floor(@font-size-base * 1.80); }

input[type="text"],
input[type="number"] {
  -webkit-appearance: none;
}

input[type="checkbox"] {
  margin-top: 2px;  // 4px -> 2px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input::-ms-clear {
  display: none;
}

label {
  font-weight: normal;
}

[ng-cloak] {
  display: none !important;
}

.glyphicon {
  top: 2px;  // 1px -> 2px
}

.description {
  color: @gray;
}

.selectors {
  margin-bottom: (@line-height-computed / 2);
}

.selector {
  float: left;
  margin-right: 10px;
  margin-bottom: (@line-height-computed / 2);
  position: relative;
  z-index: 1020;
  label {
    display: block;
  }
}

.filter {
  margin-bottom: @line-height-computed;
  label {
    display: block;
  }
  .panel-body {
    height: 200px;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    .firefox-padding-hack-748518 {
      // https://bugzilla.mozilla.org/show_bug.cgi?id=748518
      padding: 0 10px;
    }
  }
  .control-label {
    text-align: left;
  }
  .form-group {
    margin-bottom: 10px;
  }
}

.filter-label {
  margin-top: 0;
  margin-bottom: 10px;
}

.filter-select-heatsink-type {
  width: 100%;
  .tower-button {
    width: 46%;
  }
  .flower-button {
    width: 54%;
  }
}

.filter-range {
  .form-control, .range-marker {
    display: block;
    float: left;
  }
  .form-control {
    width: 40%;
  }
  .range-marker {
    width: 20%;
    height: @input-height-base;
    padding: @padding-base-vertical 0;
    text-align: center;
  }
}

.chart {
  @padding: 6px;
  margin-bottom: @line-height-computed;
  table {
    width: 100%;
  }
  th, td {
    font-weight: normal;
    padding: @padding;
    overflow: hidden;
    white-space: nowrap;
  }
  .empty {
    text-align: center;
  }
  thead {
    tr {
      border-bottom: 1px solid @table-border-color;
    }
    th {
      padding-top: 0;
      padding-bottom: (@padding * 2);
    }
  }
  tbody {
    tr {
      cursor: pointer;
      &.selected {
        background-color: @gray-lighter;
      }
      &:first-child, &.first {
        td {
          padding-top: (@padding * 2);
        }
      }
    }
  }
  @media (min-width: @screen-sm) {
    position: relative;
    top: -(@input-height-base + @line-height-computed);
    z-index: 1010;
  }
}

.chart-controls {
  float: right;
  margin-bottom: @line-height-computed;
  label {
    margin-right: 5px;
  }
  .dropdown-menu {
    left: auto;
    right: 0;
  }
}

.chart-control {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  z-index: 1030;
}

.chart-model div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
  @media (min-width: @screen-xs) {
    width: 125px;
  }
  @media (min-width: @screen-sm) {
    width: 150px;
  }
  @media (min-width: @screen-md) {
    width: 175px;
  }
  @media (min-width: @screen-lg) {
    width: 200px;
  }
}

.chart-temp {
  width: 100%;
}

.chart-temp-cpu .bar {
  color: white;
  background-color: #006ba7;
}

.chart-temp-power .bar {
  background-color: #fcc200;
}

[bar-graph] {
  width: 100%;
  .bar {
    padding: 1px 3px;
    text-align: right;
    .box-sizing(border-box);
  }
}

.chart-price {
  text-align: right;
  a {
    color: @text-color;
    text-decoration: none;
  }
}

.footer {
  color: @text-muted;
  margin-bottom: @line-height-computed;
  padding-top: @line-height-computed;
  border-top: 1px solid @hr-border;
  font-size: @font-size-small;
}
